version: '3.8'

services:
  app: 
    image: mentorhub
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      PORT: 8080
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_ROOT_PASS: ${DB_ROOT_PASS}
      DB_PORT: 3307
      DB_HOST: db
    depends_on:
      - db

  db:
    image: mysql:8.1.0-oracle
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    ports:
      - 3307:3306
    expose:
      - 3306
    volumes:
      - /db/mysql2:/var/lib/mysql2
  