
.chat__container{
    display: flex;
    flex-wrap: wrap;
    min-height: 85vh;
    width: 90%;
    background-color: #111B21;
    box-shadow: 0px 0px 5px #25D366;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.chat__aside{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 20%;
    min-height: calc(85vh);
    max-height: calc(85vh);
    background-color: #111B21;
    box-shadow: 0px 0px 5px #25D366;
    overflow: hidden;
}


.chat__private{
    width: 80%;
    height: 85vh;
}


.private__chat__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    overflow: hidden;
    position: relative;
}


.priv__messages{
    height: calc(85vh - (70px *2));
}