.top__list, .top__private{
  height: 70px;
  width: 100%;
  background: rgb(4, 90, 80);
  box-shadow: 0px 0px 5px #151919;
  z-index: 1;
  box-shadow: 0px 0px 5px #25D366;

}


.top__list-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  float: left;
  cursor: pointer;
  background-color: #25D366;
}
