:root{
    --verydark-color:#0B141A;
    --dark-color:#111B21;
    --textTitle-color:#25D366;
    --textMinTitle:#FFFFFF;
}
body{
    background-color: var(--verydark-color);
}
main{
    width: 90%;
    max-width: 1400px;
    background-color:var(--dark-color);
    margin: 0 auto;
}
h1{
    font-size: 8rem;
    line-height: .8;
    color: var(--textTitle-color);
}
.home__top{
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}
.home__image{
    /* width: 50%; */
    max-width: 600px;
    max-width: 600px;
    border-radius: 20px;
}
.home__description{
    width: 40%;
    gap: 10px;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
}
.home__texto{
    font-size: 1.8rem;
    color:var(--textMinTitle)
}