.top__list, .top__private{
  height: 70px;
  width: 100%;
  background: rgb(4, 90, 80);
  box-shadow: 0px 0px 5px #151919;
  z-index: 1;
  box-shadow: 0px 0px 5px #25D366;

}


.top__list-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  float: left;
  cursor: pointer;
  background-color: #25D366;
}


.top__private{

  display: flex;
  justify-content: space-between;
}


.private__img-container{
  height: 100%;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.private__img-container img{
  display: block;
  height: 35px;
  width: 35px;
  cursor: pointer;
}


.chat__with p{
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}